# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Web related
lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Exceptions to above rules.
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages

####################################################################################################
# Below taken from article on how to use Git
# https://medium.com/better-programming/how-to-use-git-in-android-studio-part-1-a8a554006aad
#
# content of .gitignore
# *.iml                         already in the standard file (above)
# .gradle                       I disagree with this - changes here are critcal
/local.properties
#/.idea/*                       already in the standard file (above)
#.DS_Store                      already in the standard file (above)
#/build                         already in the standard file (above)
/captures
.externalNativeBuild
.cxx